{
    "presets": [
        [
            "next/babel",
            {
                "preset-typescript": {
                    "parserOpts": {
                        "strictMode": true
                    }
                }
            }
        ]
    ]
}